@import url('https://fonts.googleapis.com/css2?family=Allura&family=Itim&family=Luckiest+Guy&display=swap');

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.12 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.top-\[20vw\]{
  top: 20vw;
}

.z-50{
  z-index: 50;
}

.z-\[10\]{
  z-index: 10;
}

.z-\[20\]{
  z-index: 20;
}

.col-span-2{
  grid-column: span 2 / span 2;
}

.row-span-2{
  grid-row: span 2 / span 2;
}

.m-auto{
  margin: auto;
}

.mx-\[1vw\]{
  margin-left: 1vw;
  margin-right: 1vw;
}

.mx-\[3vw\]{
  margin-left: 3vw;
  margin-right: 3vw;
}

.mx-\[7vh\]{
  margin-left: 7vh;
  margin-right: 7vh;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.mt-\[-10vw\]{
  margin-top: -10vw;
}

.mt-\[-20vw\]{
  margin-top: -20vw;
}

.mt-\[10vh\]{
  margin-top: 10vh;
}

.mt-\[10vw\]{
  margin-top: 10vw;
}

.mt-\[2vh\]{
  margin-top: 2vh;
}

.mt-\[2vw\]{
  margin-top: 2vw;
}

.mt-\[35vw\]{
  margin-top: 35vw;
}

.mt-\[3vh\]{
  margin-top: 3vh;
}

.mt-\[4vh\]{
  margin-top: 4vh;
}

.mt-\[8vw\]{
  margin-top: 8vw;
}

.mt-auto{
  margin-top: auto;
}

.mt-1{
  margin-top: 0.25rem;
}

.mt-\[4vw\]{
  margin-top: 4vw;
}

.mt-\[6vw\]{
  margin-top: 6vw;
}

.mt-\[7vw\]{
  margin-top: 7vw;
}

.mt-\[5vh\]{
  margin-top: 5vh;
}

.mt-\[7vh\]{
  margin-top: 7vh;
}

.mt-\[100vh\]{
  margin-top: 100vh;
}

.mt-\[15vh\]{
  margin-top: 15vh;
}

.mt-\[5vw\]{
  margin-top: 5vw;
}

.mt-\[3vw\]{
  margin-top: 3vw;
}

.box-border{
  box-sizing: border-box;
}

.flex{
  display: flex;
}

.grid{
  display: grid;
}

.hidden{
  display: none;
}

.h-\[50vw\]{
  height: 50vw;
}

.h-\[60vw\]{
  height: 60vw;
}

.h-full{
  height: 100%;
}

.h-screen{
  height: 100vh;
}

.h-\[80vw\]{
  height: 80vw;
}

.w-\[100vw\]{
  width: 100vw;
}

.w-\[20vw\]{
  width: 20vw;
}

.w-\[25vw\]{
  width: 25vw;
}

.w-\[30vw\]{
  width: 30vw;
}

.w-\[40vw\]{
  width: 40vw;
}

.w-\[45vw\]{
  width: 45vw;
}

.w-\[50vw\]{
  width: 50vw;
}

.w-\[60vw\]{
  width: 60vw;
}

.w-\[7vw\]{
  width: 7vw;
}

.w-full{
  width: 100%;
}

.w-\[250px\]{
  width: 250px;
}

.w-\[80\%\]{
  width: 80%;
}

.w-\[full\]{
  width: full;
}

.w-\[30\%\]{
  width: 30%;
}

.max-w-\[450px\]{
  max-width: 450px;
}

.max-w-\[600px\]{
  max-width: 600px;
}

.flex-shrink-0{
  flex-shrink: 0;
}

.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes bgTurun{
  0%{
    background-position-y: 10vw;
  }

  100%{
    background-position-y: 110vw;
  }
}

.animate-bgTurun{
  animation: bgTurun 0.6s ease-in-out 1s forwards;
}

@keyframes cumi{
  0%, 100%{
    transform: translate(10px, 10px);
  }

  50%{
    transform: translate(10px, 10vw);
  }
}

.animate-cumi{
  animation: cumi 6s ease-in-out infinite;
}

@keyframes fadeR{
  0%{
    transform: translate(10px, 10px);
  }

  100%{
    transform: translate(50vw, 10px);
  }
}

.animate-kanan{
  animation: fadeR 1s ease-in-out forwards;
}

@keyframes fadeL{
  0%{
    transform: translate(10px, 0);
  }

  100%{
    transform: translate(-50vw, 0);
  }
}

.animate-kiri{
  animation: fadeL 1s ease-in-out forwards;
}

@keyframes naik{
  0%{
    transform: translate(10px, 10px);
  }

  100%{
    transform: translate(10px, -50vw);
  }
}

.animate-naik{
  animation: naik 1s ease-in-out forwards;
}

@keyframes naik2{
  0%{
    transform: translate(-1px, 10px);
  }

  100%{
    transform: translate(-1px, -200vw);
  }
}

.animate-naik2{
  animation: naik2 1s ease-in-out forwards;
}

@keyframes naik3{
  0%{
    transform: translate(-1px, 10px);
  }

  100%{
    transform: translate(-1px, -200vw);
    display: none;
  }
}

.animate-naik3{
  animation: naik3 1s ease-in-out forwards;
}

@keyframes turun{
  0%, 100%{
    transform: translate(10px, 10px);
  }

  50%{
    transform: translate(10px, 20vw);
  }
}

.animate-naktur{
  animation: turun 4s ease-in-out infinite;
}

@keyframes opa{
  0%{
    opacity: 100%;
  }

  100%{
    opacity: 0%;
  }
}

.animate-opa{
  animation: opa 0.5s ease-in-out forwards;
}

@keyframes opa2{
  0%{
    opacity: 0%;
    transform: scale(0);
  }

  100%{
    opacity: 100%;
    transform: scale(1);
  }
}

.animate-opa1{
  animation: opa2 0.3s ease-in-out 0.2s forwards;
}

@keyframes opa2{
  0%{
    opacity: 0%;
    transform: scale(0);
  }

  100%{
    opacity: 100%;
    transform: scale(1);
  }
}

.animate-opa2{
  animation: opa2 0.6s ease-in-out 0.5s forwards;
}

@keyframes opa2{
  0%{
    opacity: 0%;
    transform: scale(0);
  }

  100%{
    opacity: 100%;
    transform: scale(1);
  }
}

.animate-opa3{
  animation: opa2 0.6s ease-in-out 0.6s forwards;
}

@keyframes opa2{
  0%{
    opacity: 0%;
    transform: scale(0);
  }

  100%{
    opacity: 100%;
    transform: scale(1);
  }
}

.animate-opa4{
  animation: opa2 0.6s ease-in-out 0.7s forwards;
}

@keyframes opa2{
  0%{
    opacity: 0%;
    transform: scale(0);
  }

  100%{
    opacity: 100%;
    transform: scale(1);
  }
}

.animate-opa5{
  animation: opa2 0.6s ease-in-out 0.8s forwards;
}

@keyframes opa2{
  0%{
    opacity: 0%;
    transform: scale(0);
  }

  100%{
    opacity: 100%;
    transform: scale(1);
  }
}

.animate-opa6{
  animation: opa2 0.6s ease-in-out 0.9s forwards;
}

@keyframes lumba{
  0%,100%{
    transform: rotate(00deg);
  }

  50%{
    transform: rotate(40deg);
  }
}

.animate-putar{
  animation: lumba 6s ease-in-out infinite;
}

@keyframes berenang{
  0%, 100%{
    transform: translateX(0);
  }

  25%{
    transform: translateX(-30vw);
  }

  50%{
    transform: rotateY(180deg);
  }

  75%{
    transform: translateX(50vw);
  }
}

.animate-swim{
  animation: berenang 8s ease-in-out infinite;
}

.grid-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-4{
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-rows-4{
  grid-template-rows: repeat(4, minmax(0, 1fr));
}

.flex-col{
  flex-direction: column;
}

.items-end{
  align-items: flex-end;
}

.items-center{
  align-items: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-6{
  gap: 1.5rem;
}

.gap-4{
  gap: 1rem;
}

.self-center{
  align-self: center;
}

.overflow-hidden{
  overflow: hidden;
}

.overflow-scroll{
  overflow: scroll;
}

.overflow-x-scroll{
  overflow-x: scroll;
}

.rounded-full{
  border-radius: 9999px;
}

.rounded-xl{
  border-radius: 0.75rem;
}

.rounded-md{
  border-radius: 0.375rem;
}

.rounded-lg{
  border-radius: 0.5rem;
}

.rounded-b-full{
  border-bottom-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
}

.border-\[1vw\]{
  border-width: 1vw;
}

.border-\[2vw\]{
  border-width: 2vw;
}

.border-2{
  border-width: 2px;
}

.border{
  border-width: 1px;
}

.border-y{
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.border-t{
  border-top-width: 1px;
}

.border-\[\#08203F\]{
  --tw-border-opacity: 1;
  border-color: rgb(8 32 63 / var(--tw-border-opacity));
}

.border-\[\#c5b937\]{
  --tw-border-opacity: 1;
  border-color: rgb(197 185 55 / var(--tw-border-opacity));
}

.border-white{
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.border-y-black{
  --tw-border-opacity: 1;
  border-top-color: rgb(0 0 0 / var(--tw-border-opacity));
  border-bottom-color: rgb(0 0 0 / var(--tw-border-opacity));
}

.bg-\[\#08203F\]{
  --tw-bg-opacity: 1;
  background-color: rgb(8 32 63 / var(--tw-bg-opacity));
}

.bg-\[\#c5b937\]{
  --tw-bg-opacity: 1;
  background-color: rgb(197 185 55 / var(--tw-bg-opacity));
}

.bg-\[\#eceeff\]{
  --tw-bg-opacity: 1;
  background-color: rgb(236 238 255 / var(--tw-bg-opacity));
}

.bg-\[\#fff\]{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-transparent{
  background-color: transparent;
}

.bg-black{
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-\[url\(\'D\:\/mirzaa\/sea-birthdayy\/assets\/bg\.png\'\)\]{
  background-image: url('D:/mirzaa/sea-birthdayy/assets/bg.png');
}

.bg-\[url\(\'https\:\/\/roynaldoktaviano\.github\.io\/sea-birthday\/assets\/bg\.jpg\'\)\]{
  background-image: url('https://roynaldoktaviano.github.io/sea-birthday/assets/bg.jpg');
}

.bg-\[url\(\'https\:\/\/roynaldoktaviano\.github\.io\/sea-birthday\/assets\/bg\.png\'\)\]{
  background-image: url('https://roynaldoktaviano.github.io/sea-birthday/assets/bg.png');
}

.bg-\[url\(\'https\:\/\/roynaldoktaviano\.github\.io\/sea-birthday\/assets\/bgg-02\.png\'\)\]{
  background-image: url('https://roynaldoktaviano.github.io/sea-birthday/assets/bgg-02.png');
}

.bg-\[url\(\'https\:\/\/roynaldoktaviano\.github\.io\/sea-birthday\/assets\/orang\.png\'\)\]{
  background-image: url('https://roynaldoktaviano.github.io/sea-birthday/assets/orang.png');
}

.bg-contain{
  background-size: contain;
}

.bg-cover{
  background-size: cover;
}

.bg-center{
  background-position: center;
}

.bg-top{
  background-position: top;
}

.bg-no-repeat{
  background-repeat: no-repeat;
}

.object-contain{
  -o-object-fit: contain;
     object-fit: contain;
}

.object-cover{
  -o-object-fit: cover;
     object-fit: cover;
}

.px-\[10vw\]{
  padding-left: 10vw;
  padding-right: 10vw;
}

.px-\[15vw\]{
  padding-left: 15vw;
  padding-right: 15vw;
}

.px-\[4vw\]{
  padding-left: 4vw;
  padding-right: 4vw;
}

.px-\[8vw\]{
  padding-left: 8vw;
  padding-right: 8vw;
}

.py-\[2vw\]{
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.py-\[3vw\]{
  padding-top: 3vw;
  padding-bottom: 3vw;
}

.py-\[4vh\]{
  padding-top: 4vh;
  padding-bottom: 4vh;
}

.py-\[4vw\]{
  padding-top: 4vw;
  padding-bottom: 4vw;
}

.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-8{
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-\[3vw\]{
  padding-left: 3vw;
  padding-right: 3vw;
}

.py-\[3vh\]{
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.px-\[6vw\]{
  padding-left: 6vw;
  padding-right: 6vw;
}

.px-\[2vw\]{
  padding-left: 2vw;
  padding-right: 2vw;
}

.py-\[2vh\]{
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.py-\[1vh\]{
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.px-\[5vw\]{
  padding-left: 5vw;
  padding-right: 5vw;
}

.pb-\[10vw\]{
  padding-bottom: 10vw;
}

.pl-\[20vw\]{
  padding-left: 20vw;
}

.pt-\[12vw\]{
  padding-top: 12vw;
}

.pt-\[4vh\]{
  padding-top: 4vh;
}

.pt-\[8vw\]{
  padding-top: 8vw;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.font-\[\'Allura\'\]{
  font-family: 'Allura';
}

.font-\[\'Itim\'\]{
  font-family: 'Itim';
}

.font-\[\'Luckiest_Guy\'\]{
  font-family: 'Luckiest Guy';
}

.text-\[12vw\]{
  font-size: 12vw;
}

.text-\[15vw\]{
  font-size: 15vw;
}

.text-\[18vw\]{
  font-size: 18vw;
}

.text-\[22vw\]{
  font-size: 22vw;
}

.text-\[5vw\]{
  font-size: 5vw;
}

.text-\[6\.5vw\]{
  font-size: 6.5vw;
}

.text-\[6vw\]{
  font-size: 6vw;
}

.text-\[7vw\]{
  font-size: 7vw;
}

.text-\[8vw\]{
  font-size: 8vw;
}

.text-4xl{
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-\[4vw\]{
  font-size: 4vw;
}

.text-\[2vw\]{
  font-size: 2vw;
}

.font-bold{
  font-weight: 700;
}

.text-\[\#08203F\]{
  --tw-text-opacity: 1;
  color: rgb(8 32 63 / var(--tw-text-opacity));
}

.text-\[\#8d9bf7\]{
  --tw-text-opacity: 1;
  color: rgb(141 155 247 / var(--tw-text-opacity));
}

.text-\[\#c5b937\]{
  --tw-text-opacity: 1;
  color: rgb(197 185 55 / var(--tw-text-opacity));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.opacity-0{
  opacity: 0;
}

.drop-shadow-lg{
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.drop-shadow-md{
  --tw-drop-shadow: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.drop-shadow-xl{
  --tw-drop-shadow: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.delay-150{
  transition-delay: 150ms;
}

.ease-in-out{
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px){
  .md\:flex{
    display: flex;
  }
}

@media (min-width: 1024px){
  .lg\:col-span-1{
    grid-column: span 1 / span 1;
  }

  .lg\:mt-\[2vw\]{
    margin-top: 2vw;
  }

  .lg\:h-\[12vw\]{
    height: 12vw;
  }

  .lg\:w-\[10vw\]{
    width: 10vw;
  }

  .lg\:w-\[12vw\]{
    width: 12vw;
  }

  .lg\:w-\[20vw\]{
    width: 20vw;
  }

  .lg\:w-\[6vw\]{
    width: 6vw;
  }

  .lg\:w-\[8vw\]{
    width: 8vw;
  }

  .lg\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:border-\[0\.5vw\]{
    border-width: 0.5vw;
  }

  .lg\:px-\[3vw\]{
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .lg\:py-\[1vw\]{
    padding-top: 1vw;
    padding-bottom: 1vw;
  }

  .lg\:text-\[1\.5vw\]{
    font-size: 1.5vw;
  }

  .lg\:text-\[1vw\]{
    font-size: 1vw;
  }

  .lg\:text-\[3vw\]{
    font-size: 3vw;
  }

  .lg\:text-\[4vw\]{
    font-size: 4vw;
  }
}